:root{
--cor-de-fundo:#6b0221;
--verde:#000000;
--branco-ativo:#57a0ff;
--botao-inativo:#fafafa;
--texto-fundo:#c20c43;
}
body{background-color:var(--cor-de-fundo);
    color: var(aliceblue);
    font-family:rgb(185, 2, 2);
}
.conteudo-principal{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 40px;
}
.botao{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #4e1212;
    color: var(--botao-inativo);
    display:flex;
    justify-content: center;
    padding: 1em;
    font-size: 15px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top:  none;
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
.botoes{
    display: block;
}
.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}
@media screen and (min-width:768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}
.aba-textos{
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}